@font-face {
  font-family: 'KurewaGothicCjkTc';
  src: url('fonts/KurewaGothicCjkTc-Bold.ttf');
}

@font-face {
  font-family: 'UDDigiKyokashoN';
  src: url('fonts/UDDigiKyokashoN-B.ttc');
}

@font-face {
  font-family: 'lansui';
  src: url('fonts/Iansui-Regular.ttf');
}

@font-face {
  font-family: 'YuPearl';
  src: url('fonts/YuPearl-Regular.ttf');
}

.mahjong-tile {
  background-image: url('images/mahjong-tiles.png');
  background-origin: padding-box;
  background-size: 1100% 600%;
  width: 100%;
  aspect-ratio: 5 / 7;
  height: auto;
}